<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.practice.repository.mapper.MemberMapper">
 <select id="getMember" resultType="mybatis.practice.dto.Member">
    select
           user_id userId,
           accountId accountId,
           accountPw accountPw,
           email,
           phone_number phoneNumber,
           shop_name shopName
    from member
 </select>
 <insert id="insertMember" parameterType="mybatis.practice.dto.Member">
    insert into member
    values(member_seq.nextval,
           #{accountId},
           #{accountPw},
           #{email},
           #{phoneNumber},
           #{shopName})
 </insert>
    <update id="updateMember" parameterType="mybatis.practice.dto.Member">
        update member
set shop_name =#{shopName}
where accountId = #{accountId}

    </update>

    <delete id="deleteMember" parameterType="java.lang.String">
        delete from member
        where accountId = #{id}
    </delete>

</mapper>