body {
    background-color: gray;
}

.orange {
    width: 100px;
    height: 100px;
    background-color: orange;
}

.pink {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    background-color: pink;
}