| [New Student Cancellation]
| 
| A student has cancelled the following class:
| 
| *All classes below are listed in Korean Standard Time. 
| Please check our portal (tutor.eggschool.net) for further details.
| 
| Class Time: #{classTime}
| Course: #{course}
| Class: #{className}