<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context.xsd
						http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop.xsd"						
						>
	
	<!--  bean 클래스에 설정되어있는 어노테이션을 이요한다. -->

	<bean id='xml1' class='beans.TestBean1'/>
	<bean id='xml2' class='beans.TestBean2'/>
	<bean id='xml3' class='beans2.TestBean2'/>
	
	<bean id='advisor1' class='advisor.AdvisorClass'/>
	
	<aop:config>
		<aop:aspect ref='advisor1'>
			<!-- 반환타입 void, 클래스 TestBean1, method1에 없음 -->
			<!-- 	<aop:pointcut id="point1" expression="execution(void beans.TestBean1.method1())"/> -->
			
			<!-- 반환타입 void, 클래스 TestBean1, method1에 없음 -->
				<aop:pointcut id="point1" expression="execution(void beans.*.*(..))"/>
			
			
			<aop:before method="beforeMethod" pointcut-ref="point1"/>
		</aop:aspect>
	</aop:config>
	

</beans>