<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.board.mssql.mapper.TestMapper">
    <select id="testProcedure" statementType="CALLABLE" resultType="long">
        { DECLARE @RESULT INT
            exec PROCEDURETES @RESULT OUTPUT
            SELECT @RESULT
        }
    </select>

    <insert id="insertAllInOne" statementType="CALLABLE">
        {
                call ALLINONE(
                #{account,mode=IN},
                #{password,mode=IN},
                #{board,mode=IN},
                #{title,mode=IN},
                #{content,mode=IN}
                )
        }
    </insert>
</mapper>